# Arquivos compilados Java
*.class

# Arquivos de log
*.log

# Pasta build
bin/
build/
out/
target/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.temp

# Arquivos de cache
.cache/

# Maven
.mvn/

# Gradle
.gradle/

# Arquivos compactados
*.zip
*.rar
*.7z

# Configurações locais
.env